canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
html {
  overflow: hidden;
}
.oldMonitor {
  z-index: 1;
  opacity: 60%;
}
.filter {
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 1000% 1px;

  z-index: -1;
}

@media screen {
  .filter {
    animation: scanlines infinite 55s linear;
  }
}
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}
